.card-container {
  display: flex;
  margin: 5px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60vh;
  width: 20vw;
  border: 2px solid red;
  border-radius: 5px;
  margin: 7px;
}

.cult-image {
  height: 60%;
  width: 85%;
  padding: 7px;
}